apiVersion: v1
data:
  tls.crt: "{{ gitlab_tls_cert }}"
  tls.key: "{{ gitlab_tls_key }}"
kind: Secret
metadata:
  name: gitlab-secret-tls
  namespace: "{{ ns_name }}"
  labels:
    app: gitlab
type: kubernetes.io/tls
