---
apiVersion: v1
kind: Service
metadata:
  name: gitlab-service
  namespace: "{{ ns_name }}"
  labels:
    app: gitlab
spec:
  selector:
    app: gitlab
  ports:
    - name: https
      protocol: TCP
      port: {{gitlab_port | int }}
      targetPort: {{gitlab_port | int }}
    - name: https-reg
      protocol: TCP
      port: {{gitlab_reg_port | int }}
      targetPort: {{gitlab_reg_port | int }}
    - name: ssh
      protocol: TCP
      port: {{gitlab_ssh_port | int }}
      targetPort: {{gitlab_ssh_port | int }}

