---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitlab-config-pvc
  namespace: "{{ ns_name }}"
  labels:
    name: "{{ ns_name }}"
    app: gitlab
spec:
  storageClassName: "{{ storage_class_name }}"
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: "{{ config_storage | default('3Gi')}}"
  selector:
    matchLabels:
      name: "config-{{ ns_name }}"
