---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: gitlab-data-pv
  namespace: "{{ ns_name }}"
  labels:
    name: "data-{{ ns_name }}"
    app: gitlab
spec:
  storageClassName: "{{ storage_class_name }}"
  capacity:
    storage: 3Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "{{ gitlab_path[2] }}"
